<!--- Two Column Section -->
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <h2>If you see me....</h2>
      <p>I love coding. But there is lots and lots to learn!! For my experience-- click the button!</p>
      <p>I love coding. But there is lots and lots to learn!! For my experience-- click the button!</p>
      <p>I love coding. But there is lots and lots to learn!! For my experience-- click the button!</p>
      <br>
    </div>
    <div class="col-lg-6">
      <img src="\assets\bootstrap2.png" class="img-fluid">
    </div>
  </div>
  <hr class="my-4">
</div>
