.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.fa-code {
  color: #e54d26;

}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-bold,
.fa-code,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
