  <!--- Meet the team -->
  <div class="container-fluid padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Meet my family</h1>
      </div>
      <hr>
    </div>
  </div>

  <!--- Cards -->
  <div class="container-fluid padding">
    <div class="row padding">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="\assets\team1.png">
          <div class="card-body">
            <h4 class="card-title">Niranjan</h4>
            <p class="card-text">This is Niranjan</p>
            <a href="#" class="btn btn-outline-secondary">See Him</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="\assets\team2.png">
          <div class="card-body">
            <h4 class="card-title">Diya</h4>
            <p class="card-text">This is Diya</p>
            <a href="#" class="btn btn-outline-secondary">See Him</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="\assets\team3.png">
          <div class="card-body">
            <h4 class="card-title">Shivani</h4>
            <p class="card-text">This is Shivani</p>
            <a href="#" class="btn btn-outline-secondary">See Him</a>
          </div>
        </div>
      </div>
    </div>
  </div>
